        @charset "utf-8";
        /* CSS Document */
        
        hr {
            display: block;
            margin-top: 2.5em;
            margin-bottom: 2.5em;
            margin-left: auto;
            margin-right: auto;
            border-style: inset;
            border-width: .5px;
            background-color: #f1e7ce;
        }
        
        .row {
            /*    background-color: rgb(228, 218, 204);  */
        }
        
        .page-frame {
            background-color: #f1e7ce;
            width: 80%;
            height: 100%;
            margin-left: 150px;
        }
        /* HTML Elements  for odd number of cards for grid*/
        
        .col-xs-equal,
        .col-sm-equal,
        .col-md-equal,
        .col-lg-equal {
            position: relative;
            min-height: 1px;
            padding-right: 10px;
            padding-left: 10px;
        }
        /* Next,we are adding here some media queries with various breakpoints  */
        
        .col-xs-equal {
            width: 20%;
            float: left;
        }
        
        @media (min-width: 768px) {
            .col-sm-equal {
                width: 20%;
                float: left;
            }
        }
        
        @media (min-width: 992px) {
            .col-md-equal {
                width: 20%;
                float: left;
            }
        }
        
        @media (min-width: 1200px) {
            .col-lg-equal {
                width: 20%;
                float: left;
            }
        }
        
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            font-family: Georgia, Garamond, "Times New Roman", serif;
            font-weight: bold;
        }
        
        body {
            font-family: Verdana, Tahoma, Geneva, sans-serif;
            margin: 0;
        }
        
        em {
            font-size: .75rem;
            margin-left: 50%;
            text-align: center;
        }
        /* Header Section */
        
        #header {
            /* padding: 2% 0; */
            background-color: white;
        }
        
        .header-frame {
            background-color: white;
            width: 80%;
            height: 100%;
            margin-left: 150px;
            margin-top: 100px;
        }
        
        .header-contactinfo {
            font-size: 1.25rem;
            text-align: right;
            padding-top: 5%;
            line-height: 1.5;
            color: #21628D;
        }
        
        .header-mboimg {
            padding-top: 2%;
        }
        
        .mbologo {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
        /* Navigation Section  */
        
        .navbar {
            padding: .5rem 0;
        }
        /* .navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 0 10%;

} */
        
        .nav-item {
            padding: 0 40px;
            font-size: 1.2rem;
        }
        
        .navbar-nav {
            margin: 0 5% 0 5%;
        }
        /* Specific Page Content */
        
        .img-landing {
            margin: 0;
            padding: 0;
        }
        
        #page-banner {
            background-color: #f1e7ce;
            height: 451px;
        }
        
        .banner-frame {
            position: relative;
        }
        
        .jumbotron {
            background-color: #f1e7ce;
            margin-top: 0;
            padding-top: 0;
            width: 100%;
        }
        
        #page-section {
            background-color: #f1e7ce;
            padding-top: 50px;
            padding-bottom: 50px;
        }
        
        .page-section-text {
            padding-right: 10em;
        }
        
        .page-section-title {
            text-align: center;
        }
        
        .section-frame {
            background-color: #f1e7ce;
            width: 80%;
            height: 100%;
            margin-left: 150px;
        }
        
        .services-list-group-item {
            background-color: #f1e7ce;
        }
        
        .question {
            font-style: italic;
            font-weight: bold;
            text-align: left
        }
        /* Contact Information Section */
        
        .contact-section-frame {
            background-color: transparent;
            width: 80%;
            margin-left: 150px;
            height: 750px;
            padding-top: 50px;
        }
        
        .form-title {
            text-align: center;
        }
        
        .required-field {
            color: red;
            font-style: italic;
            font-weight: 100;
            ;
        }
        
        .col-form-label {
            font-weight: 100;
            font-size: smaller;
        }
        
        .test-height {
            height: 600px;
        }
        
        .map-container-1 {
            overflow: hidden;
            padding-bottom: 56.25%;
            position: relative;
            height: 0;
        }
        
        .map-container-1 iframe {
            left: 0;
            top: 0;
            height: 100%;
            width: 100%;
            position: absolute;
        }
        /* Practice Area Section */
        
        #practice-areas {
            padding: 2px;
            background-color: #f1e7ce;
            display: inline-flex;
        }
        
        .practice-area-column {
            padding: 3% 2%;
        }
        
        .practice-area-text {
            font-size: .87rem;
            line-height: 1.5;
            /* height: 80px; */
        }
        
        .practice-area-header {
            font-size: .85rem;
        }
        
        .practice-area-images {
            width: 95%;
            padding-bottom: 10%;
        }
        
        .practice-area-cards {
            padding-left: 2%;
        }
        
        .card {
            height: 25rem;
        }
        /* Testimonial Section */
        
        #testimonials {
            padding-top: 30px;
            background-color: #f1e7ce;
            height: 330px
        }
        
        #testimonial-carousel {
            background-color: #f1e7ce;
        }
        
        .testimonial-text {
            font-size: .87rem;
            line-height: 1.5;
            width: 60%;
            text-align: center;
            margin-left: 20%;
            padding-top: 1%;
        }
        
        .testimonial-title {
            text-align: center;
            color: #9f684a;
            padding-top: 1%;
        }
        
        .carousel-item {
            height: 15rem;
        }
        /* Footer Section */
        
        .footer-frame {
            background-color: #9f684a;
            width: 80%;
            margin-left: 150px;
        }
        
        #footer {
            background-color: #9f684a;
            text-align: center;
        }
        
        .footer-mbo {
            text-align: center;
            padding-left: 10%;
            color: white;
            font-size: 1.5rem;
        }
        
        .footer-address {
            color: white;
            text-align: center;
            padding-left: 10%;
            margin-top: 0;
        }
        /* .social-media {
   padding-top: 5%;
} */
        
        .footer-info {
            padding-top: 2%;
        }
        
        .disclaimer {
            font-size: .75rem;
            padding: 2% 3% 2%;
            text-align: left;
            color: white;
        }
        
        .copyright {
            text-align: center;
            font-size: .75rem;
            padding: 0px 0px 10px 0px;
            color: white;
        }
        
        .cc-image {
            width: 25%;
        }
        
        .cc-text {
            padding-top: 5%;
            color: white;
            font-size: .90rem;
        }
        
        .list-group {
            margin: 0;
        }
        
        .footer-list-group-item {
            font-size: .70rem;
            padding: 0;
            background-color: transparent;
            color: white;
            margin-top: 50px;
        }
        
        .page-links {
            color: #9f684a;
            margin-left: 150px;
            width: 82%;
        }
        
        .bi {
            color: white;
            font-size: 2rem;
        }